<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>子用户</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>子用户</h5>
        </div>
        <div class="ibox-content">
            <div class="form-group clearfix col-sm-1">
                {if authCheck('account/addsubuser') }
                <a href="{:url('account/addsubuser')}">
                    <button class="btn btn-outline btn-primary" type="button">添加子用户</button>
                </a>
                {/if}
            </div>
            <!--搜索框开始-->
            <form id='commentForm' role="form" method="post" class="form-inline pull-right">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <label>用户名称：</label>
                        <input type="text" class="form-control" id="real_name" name="real_name">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" style="margin-top:5px" id="search"><strong>搜 索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索框结束-->
            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable">
                        <thead>
                        <th data-field="id">ID</th>
                        <th data-field="user_name">账号</th>
                        <th data-field="real_name">用户名称</th>
                        <th data-field="power">权限</th>
                        <th data-field="input_time">创建时间</th>
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>

<!-- 查看库存 -->
<div class="modal fade" id="stockdetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title-kdetail" >查看库存</h4>
            </div>
            <div class="modal-body">
                <table id="kallocationTable">
                    <thead>
                    <th data-field="id">ID</th>
                    <th data-field="bid">应用id</th>
                    <th data-field="pid">档位id</th>
                    <th data-field="num">剩余数量</th>
                    <th data-field="operate">操作</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 分配库存 -->
<div class="modal fade" id="stockallocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title-kallocation">分配库存</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t" id="kallocationForm" method="post" action="">
                    <input type="hidden" id="uid" name="uid">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">应用名称：</label>
                        <div class="input-group col-sm-4">
                            <select class="form-control" id="bid" name="bid">
                                <option value="">请选择！</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">档位：</label>
                        <div class="input-group col-sm-4">
                            <select class="form-control" id="pid" name="pid">
                                <option value="">请选择！</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">数量：</label>
                        <div class="input-group col-sm-4">
                            <select class="form-control" id="num" name="num">
                                <option value="">请选择！</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-6">
                            <button class="btn btn-primary" type="button" onclick="allocation()">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script type="text/javascript">
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "{:url('account/subuser')}", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            paginationFirstText: "首页",
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationLastText: "尾页",
            queryParamsType : "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    searchText:$('#real_name').val()
                };
                return param;
            },
            onLoadSuccess: function(res){  //加载成功时执行
                if(111 == res.code){
                    window.location.reload();
                }
                layer.msg("加载成功", {time : 1000});
            },
            onLoadError: function(){  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });
    }

    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();

        //当点击查询按钮的时候执行
        $("#search").bind("click", initTable);
    });

    //查看库存
    function stockdetail(id) {
        //显示模态框
        $('#stockdetail').modal('show');
        //先销毁表格
        $('#kallocationTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#kallocationTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "{:url('account/stockdetail')}", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            paginationFirstText: "首页",
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationLastText: "尾页",
            queryParamsType : "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    id:id
                };
                return param;
            },
            onLoadSuccess: function(res){  //加载成功时执行
                if(111 == res.code){
                    window.location.reload();
                }
                layer.msg("加载成功", {time : 1000});
            },
            onLoadError: function(){  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });
    }

    //分配库存 -- 显示页
    function stockallocation(id) {

        //显示模态框
        $('#stockallocation').modal('show');
        //赋值id
        $('#uid').val(id);

        $.post("{:url('admin/account/query_bname')}",{id:id},function(result){
            $.each(result,function (k, v) {
                $('#bid').append('<option value="'+v.bid+'">'+v.bname+'</option>');
            })
        });

        //查询档位和对应数量
        $("#bid").change(function(){
            var phtml = '<option value="">请选择！</option>';
            var nhtml = '<option value="">请选择！</option>';
            var options=$("#bid option:selected");
            var bid = options.val();
            if(bid != ''){
                $('#num').html(nhtml);
                $.post("{:url('admin/account/query_pname')}",{id:id,bid:bid},function(result){
                    $.each(result,function (k, v) {
                        phtml += '<option value="'+v.pid+'">'+v.pname+'（数量'+v.num+'）</option>';
                    })
                    $('#pid').html(phtml);
                })
            }else{
                $('#pid').html(phtml);
                $('#num').html(nhtml);
            }
        })

        $('#pid').change(function () {
            var nhtml = '<option value="">请选择！</option>';
            var boptions=$("#bid option:selected");
            var poptions=$("#pid option:selected");
            var bid = boptions.val();
            var pid = poptions.val();
            if(pid != ''){
                $.post("{:url('admin/account/query_num')}",{id:id,bid:bid,pid:pid},function(result){
                    for (var i = 1;i <= result;i++){
                        nhtml += '<option value="'+i+'">'+i+'</option>';
                    }
                    $('#num').html(nhtml);
                })
            }else{
                $('#num').html(nhtml);
            }
        })
    }

    //分配库存 -- 提交
    function allocation() {
        $.ajax({
            cache: true,
            type: "POST",
            url: "{:url('account/stockallocation')}",
            data: $('#kallocationForm').serialize(),// 你的formid
            async: false,
            success: function(data) {
                if(data.code = -1){
                    layer.alert(data.msg, {title: '友情提示', icon: 2});
                }
            }
        });
    }

    //撤销分配
    function return_give(id){
        layer.confirm('确认撤销?', {icon: 3, title:'提示'}, function(index){
            //do something
            $.getJSON("{:url('account/return_give')}", {'id' : id}, function(res){
                if(1 == res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        //关闭模态框
                        $('#stockdetail').modal('hide');
                        initTable();
                    });
                }else if(111 == res.code){
                    window.location.reload();
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })

    }
</script>
</body>
</html>
