<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员列表</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/bootstrapSwitch.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__CSS__/plugins/datapicker/datepicker3.css" rel="stylesheet"> 
    <style>
        .edit_value{
            display:none;
        }
        .show_value{
            width:100%;
        }
        .edit_value button{
            margin-left: 11px;
        }
        .edit_value input{
            width: 60px;
            height: 32px;
            border: 1px solid #e5e6e7;
            border-color: #e5e6e7;
        }
        </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>全部库存</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <form id='commentForm' role="form" method="post" class="form-inline pull-right">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <label>UID：</label>
                        <input type="text" class="form-control" id="search_uid" name="search_uid" style="width: 90px;">
                        <label>PID：</label>
                        <input type="text" class="form-control" id="search_pid" name="search_pid" style="width: 90px;">
                        <label>库存id：</label>
                        <input type="text" class="form-control" id="stock_id" name="stock_id" style="width: 50px;">
                        <label>入库时间查询：</label>
                        <div class='input-group date' id='datetimepicker1' style="width: 150px;">
                            <input type='text' class="form-control" id="input_time_start" name="input_time_start"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        ----
                        <div class='input-group date' id='datetimepicker2' style="width: 150px;">
                            <input type='text' class="form-control" id="input_time_end" name="input_time_end"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <label>出库时间查询：</label>
                        <div class='input-group date' id='datetimepicker3' style="width: 150px;">
                            <input type='text' class="form-control" id="out_time_start" name="out_time_start"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        ----
                        <div class='input-group date' id='datetimepicker4' style="width: 150px;">
                            <input type='text' class="form-control" id="out_time_end" name="out_time_end"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <label>管理员id：</label>
                        <select name="userid" id="userid" class="form-control" id="">
                            <option value="">请选择</option>
                            {foreach $user_lists as $k =>$v}
                            <option class="form-control" value="{$k}">{$v}</option>
                            {/foreach}
                        </select>
                        <label>状态：</label>
                        <select name="status" class="form-control" id="status">
                            <option >所有</option>
                            <option value="1">未使用</option>
                            <option value="2">使用中</option>
                            <option value="3">发布中</option>
                            <option value="-1">交易失败</option>
                            <option value="4">已出库</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" style="margin-top:5px" id="search"><strong>搜 索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索框结束-->
            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable">
                        <thead>
                        <th data-field="id">id</th>
                        <th data-field="bunled_name">库存名</th>
                        <th data-field="product_name">档位名</th>
                        {if condition="session('id') eq 1"}
                        <th data-field="pid">修改pid</th>
                        <th data-field="uid">修改uid</th>
                        {/if}
                        <th data-field="user">归属人</th>
                        <th data-field="pristine_user">原归属人</th>
                        <th data-field="input_time">入库时间</th>
                        <th data-field="out_time">出库时间</th>
                        <th data-field="out_user">出库人</th>
                        {if condition="session('id') eq 1"}
                        <th data-field="tcurrency">币种</th>
                        <th data-field="tprice">入库价格</th>
                        <th data-field="price">传入价格</th>
                        {/if}
                        <th data-field="excel_price">面值</th>
                        <th data-field="note">备注</th>
                        <th data-field="status">库存状态</th>
                        {if condition="session('id') eq 1"}
                        <th data-field="is_check">库存审核</th>
                        {/if}
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>
<div class="modal fade" id="edit_pid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title-kallocation">修改PID名称</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal m-t" id="kallocationForm" method="post" action="">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">PID：</label>
                            <div class="input-group col-sm-4">
                                <input type="hidden" name="product_id" id="product_id">
                                <input type="text" name="pid" id="pid" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">PNAME：</label>
                            <div class="input-group col-sm-4">
                                <input type="text" name="pname" id="pname">
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-6">
                                <button class="btn btn-primary" type="button" onclick="get_edit_pid()">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="edit_bid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title-kallocation">修改UID名称</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t" id="kallocationForm" method="post" action="">
                    <input type="hidden" id="uid" name="uid">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">UID：</label>
                        <div class="input-group col-sm-4">
                            <input type="hidden" name="bunled_id" id="bunled_id">
                            <input type="text" name="bid" id="bid" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">UNAME：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" name="bname" id="bname">
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-6">
                            <button class="btn btn-primary" type="button" onclick="get_edit_uid()">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/moment-with-locales.min.js"></script>
<script src="__JS__/plugins/datapicker/bootstrap-datetimepicker.min.js"></script>
<script src="__JS__/bootstrapSwitch.js"></script>
<script type="text/javascript">
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "{:url('getallstock')}", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            paginationFirstText: "首页",
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationLastText: "尾页",
            queryParamsType : "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    input_time_start:$('#input_time_start').val(),
                    input_time_end:$('#input_time_end').val(),
                    out_time_start:$('#out_time_start').val(),
                    out_time_end:$('#out_time_end').val(),
                    status:$('#status').val(),
                    userid:$('#userid').val(),
                    stock_id:$('#stock_id').val(),
                    search_pid:$('#search_pid').val(),
                    search_uid:$('#search_uid').val(),
                };
                return param;
            },
            onLoadSuccess: function(res){  //加载成功时执行
                if(111 == res.code){
                    window.location.reload();
                }
                layer.msg("加载成功", {time : 1000});
                get_swich();
                edit_all_tprice();
            },
            onLoadError: function(){  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });
    }

    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();

        //当点击查询按钮的时候执行
        $("#search").bind("click", initTable);
    });

    function stockDel(id){
        layer.confirm('确认删除此条数据?该操作不可逆,请谨慎操作！', {icon: 3, title:'提示'}, function(index){
            //do something
            $.getJSON("{:url('admin/allstock/del')}", {'id' : id}, function(res){
                if(1 == res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        initTable();
                    });
                }else if(111 == res.code){
                    window.location.reload();
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })

    }



$(function () {
    $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn')
    });
    $('#datetimepicker2').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn')
    });
    $('#datetimepicker3').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn')
    });
    $('#datetimepicker4').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn')
    });

     
});


function get_swich(){

    $("[name ='my_stock']").bootstrapSwitch({  
            onText : "启用",      // 设置ON文本  
            offText : "禁用",    // 设置OFF文本  
            onColor : "success",// 设置ON文本颜色     (info/success/warning/danger/primary)  
            offColor : "danger",  // 设置OFF文本颜色        (info/success/warning/danger/primary)  
            size : "mini",    // 设置控件大小,从小到大  (mini/small/normal/large)  
            handleWidth:"35",//设置控件宽度
            // state:true,
            // 当开关状态改变时触发  
            onSwitchChange : function(event, state) {
                $.post('{:url("get_check")}',{id:$(this).val()});

            }  
    });
    $("[name ='my_stock']:checked").bootstrapSwitch('state',true);

}

function get_succ(id){
  
    $.post("{:url('admin/allstock/get_succ')}",{id:id},function(ret){
        if(ret.code == 1){
            layer.alert(ret.msg, {title: '提示', icon: 1}, function(){
                        initTable();
                    });
        }else{
            layer.alert(ret.msg, {title: '提示', icon: 2}), function(){
                        initTable();
                    };
        }
        
      
    })
}
function get_return(id){
    $.post("{:url('admin/allstock/get_return')}",{id:id},function(ret){

        if(ret.code == 1){
            layer.alert(ret.msg, {title: '提示', icon: 1}, function(){
                        initTable();
                    });
        }else{
            layer.alert(ret.msg, {title: '提示', icon: 2}, function(){
                        initTable();
                    });
        }
    })
}

    function edit_pid(id,pid,pname){
        $('#product_id').val(id);
        $('#pid').val(pid);
        $('#pname').val(pname);
        $('#edit_pid').modal('show');
    }
    function edit_uid(id,bid,bname){
        $('#bunled_id').val(id);
        $('#bid').val(bid);
        $('#bname').val(bname);
        $('#edit_bid').modal('show');
    }

    function get_edit_pid(){
        var id = $('#product_id').val();
        var pname = $('#pname').val();
        $.post("{:url('get_edit_pid')}",{id:id,pname:pname},function(ret){
            if(ret.code == 1){
                layer.alert(ret.msg, {title: '提示', icon: 1}, function(){
                    $('#edit_pid').modal('hide');
                        initTable();
                    });
            }else{
                layer.alert(ret.msg, {title: '提示', icon: 2}, function(){
                        initTable();
                    });
            }
        })
    }
    function get_edit_uid(){
        var id = $('#bunled_id').val();
        var bname = $('#bname').val();
        $.post('{:url("get_edit_uid")}',{id:id,bname:bname},function(ret){
            if(ret.code == 1){
                layer.alert(ret.msg, {title: '提示', icon: 1}, function(){
                    $('#edit_bid').modal('hide');
                        initTable();
                    });
            }else{
                layer.alert(ret.msg, {title: '提示', icon: 2}, function(){
                        initTable();
                    });
            }
        })
    }

    function edit_all_tprice(){
        $('.show_value').parent('td').click(function(){
            $(this).find('.show_value').hide();
            $(this).find('.edit_value').show();
        })
       
    }

    function save_tprice(id,obj){
        console.log(obj);
        var edit_val = $(obj).siblings('input').val();
        $.post('{:url("edit_tprice")}',{id:id,save_tprice:edit_val},function(){
            $(obj).parent('span').siblings('.show_value').show().html(edit_val);
            $(obj).parent('span').hide();
        })
    }
</script>
</body>
</html>
