<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>交易大厅</title>
    <link rel="shortcut icon" href="favicon.ico">

    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/bootstrapSwitch.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__CSS__/plugins/datapicker/datepicker3.css" rel="stylesheet"> 

</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>交易大厅</h5>
        </div>
        <div class="ibox-content">
                <div class="form-group clearfix col-sm-1">
                        <a href="javascript:;" onclick="get_order()"><button class="btn btn-outline btn-primary" type="button">发布商品</button></a>
                    </div>
            <!--搜索框开始-->
            <form id='commentForm' role="form" method="post" class="form-inline pull-right">
                <div class="content clearfix m-b">
                      
                    <div class="form-group">
                        
                        <label>状态：</label>
                        <select name="status" class="form-control" id="status">
                            <option >全部</option>
                            <option value="1">发布中</option>
                            <option value="2">已完成</option>
                            <option value="3">已撤销</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="应用/档位" name="keywords" id="keywords" value="">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" style="margin-top:5px" id="search"><strong>搜 索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索框结束-->
            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable">
                        <thead>
                        <th data-field="id">id</th>
                        <th data-field="bunled_name">应用名称</th>
                        <th data-field="product_name">档位id</th>
                        <th data-field="price">价格</th>
                        <th data-field="num">发布数量</th>
                        <th data-field="sell_num">交易完成</th>
                        <th data-field="only_num">剩余</th>
                        <th data-field="all_price">总价</th>
                        <th data-field="end_time">结束日期</th>
                        <th data-field="note">备注</th>
                        <th data-field="status">状态</th>
                        {if condition="session('id') eq 1"}<th data-field="user_id">卖家</th>{/if}
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>
<div class="modal fade" id="get_order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title-kallocation">发布商品</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t" id="kallocationForm" method="post" action="">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">发布人ID：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" name="user_id" readonly class="form-control" id="user_id" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">订单ID：</label>
                        <div class="input-group col-sm-4">
                                <input type="text" name="order_id" readonly class="form-control" id="order_id" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">别名：</label>
                        <div class="input-group col-sm-4">
                                <input type="text" class="form-control" readonly name="bname" id="bname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">面值：</label>
                        <div class="input-group col-sm-4">
                                <input type="text" class="form-control" readonly name="pname" id="pname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">发布价格：</label>
                        <div class="input-group col-sm-4">
                                <input type="text" class="form-control" readonly name="price" id="price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">可买数量：</label>
                        <div class="input-group col-sm-4">
                                <input type="text" class="form-control" readonly name="can_buy_num" id="can_buy_num">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">购买数量：</label>
                        <div class="input-group col-sm-4">
                                <input type="text" class="form-control" name="buy_num" id="buy_num">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">金额：</label>
                        <div class="input-group col-sm-4">
                                <input type="text" class="form-control" readonly name="all_price" id="all_price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户余额：</label>
                        <div class="input-group col-sm-4">
                                <input type="text" readonly class="form-control" name="money" id="money">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">二级密码：</label>
                        <div class="input-group col-sm-4">
                                <input type="password" class="form-control" name="password" id="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注：</label>
                        <div class="input-group col-sm-4">
                                <textarea rows="" name="note" id="note" cols=""></textarea>
                        </div>
                    </div>
                                        
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-6">
                            <button class="btn btn-primary" type="button" onclick="get_buy()">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/moment-with-locales.min.js"></script>
<script src="__JS__/plugins/datapicker/bootstrap-datetimepicker.min.js"></script>
<script src="__JS__/bootstrapSwitch.js"></script>
<script type="text/javascript">
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "{:url('get_all_sell')}", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            paginationFirstText: "首页",
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationLastText: "尾页",
            queryParamsType : "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    keywords:$('#keywords').val(),
                    status:$('#status').val(),
                };
                return param;
            },
            onLoadSuccess: function(res){  //加载成功时执行
                if(111 == res.code){
                    window.location.reload();
                }
                layer.msg("加载成功", {time : 1000});
               
            },
            onLoadError: function(){  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });
    }

    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();

        //当点击查询按钮的时候执行
        $("#search").bind("click", initTable);
    });

    function stockDel(id){
        layer.confirm('确认删除此条数据?该操作不可逆,请谨慎操作！', {icon: 3, title:'提示'}, function(index){
            //do something
            $.getJSON("{:url('admin/allstock/del')}", {'id' : id}, function(res){
                if(1 == res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        initTable();
                    });
                }else if(111 == res.code){
                    window.location.reload();
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })

    }



function get_return(id){
    $.post("{:url('admin/allstock/get_return')}",{id:id},function(ret){

        if(ret.code == 1){
            layer.alert(ret.msg, {title: '提示', icon: 1}, function(){
                        initTable();
                    });
        }else{
            layer.alert(ret.msg, {title: '提示', icon: 2}, function(){
                        initTable();
                    });
        }
    })
}

    function buy_this(id){
        $.post("{:url('get_order_info')}",{id:id},function(ret){
            $('#user_id').val(ret.user_id);
            $('#order_id').val(ret.id);
            $('#bname').val(ret.bunled_name);
            $('#pname').val(ret.product_name);
            $('#price').val(ret.price);
            $('#can_buy_num').val(ret.can_buy_num);
            $('#money').val(ret.user_money);
        })
       
        $('#get_order').modal('show');
    }

    $("#buy_num").on("input propertychange",function(event){
        var buy_num = $("#buy_num").val();
        var all_num = $('#can_buy_num').val();
        var price = $('#price').val();
        if(buy_num > all_num){
           index =  layer.alert('购买数量不能超过可买数量', {title: '提示', icon: 2}, function(){
                layer.close(index);
                $("#buy_num").val('');
            });
            $('#all_price').val('');
            return false;
        }

        $('#all_price').val(price*buy_num);
    });

    function get_buy(){
        var order_id = $('#order_id').val();
        var buy_num = $('#buy_num').val();
        var password = $('#password').val();
        var note = $('#note').val();
        if(!order_id || !buy_num || !password ){
            layer.alert('请填写完整购买信息', {title: '提示', icon: 2});
        }
        gets = {
            order_id:order_id,
            buy_num:buy_num,
            buy_num:buy_num,
            password:password,
            note:note,
        }
        $.post('{:url("get_buy")}',gets,function(ret){
            if(ret.code == 1){
                layer.alert(ret.msg, {title: '提示', icon: 1}, function(){
                    $('#get_order').modal('hide');
                        initTable();
                    });
            }else{
                layer.alert(ret.msg, {title: '提示', icon: 2}, function(){
                    $('#get_order').modal('hide');
                        initTable();
                    });
            }
        })

    }

    function return_order(id){
        layer.alert('是否撤销订单?', {title: '提示', icon: 1}, function(){
            $.post("{:url('return_order')}",{id:id},function(){
                
            })
        });
    }



</script>
</body>
</html>
