<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>14码详细信息</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>14码详细信息</h5>
                    <a href="{:url('moble/index')}" class="btn btn-success btn-primary pull-right m-t-n-xs">返回</a>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>序列号</th>
                            <th>IMEI</th>
                            <th>MEID</th>
                            <th>wifi</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{$row['sn']}</td>
                            <td>{$row['imei']}</td>
                            <td>{$row['meid']}</td>
                            <td>{$row['wifi']}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Bluetooth</th>
                            <th>芯片标识</th>
                            <th>udid</th>
                            <th>mlbsn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{$row['bluetootn']}</td>
                            <td>{$row['ecid']}</td>
                            <td>{$row['udid']}</td>
                            <td>{$row['mlbsn']}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>产品类型</th>
                            <th>设备型号</th>
                            <th>地区信息</th>
                            <th>硬件型号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{$row['product_type']}</td>
                            <td>{$row['model_number']}</td>
                            <td>{$row['region_code']}</td>
                            <td>{$row['model_str']}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>硬件平台</th>
                            <th>产品版本</th>
                            <th>系统版本</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{$row['hardware_platform']}</td>
                            <td>{$row['product_version']}</td>
                            <td>{$row['build_version']}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>归属信息</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>设备名称</th>
                                <th>归属人</th>
                                <th>新增时间</th>
                                <th>设备状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{$row['name']}</td>
                                <td>{$row['user_id']}</td>
                                <td>{$row['input_time']}</td>
                                <td>{$row['status']}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script type="text/javascript">

    var index = '';
    function showStart() {
        index = layer.load(0, {shade: false});
        return true;
    }

    function showSuccess(res) {

        layer.ready(function () {
            layer.close(index);
            if (1 == res.code) {
                layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                    window.location.href = res.data;
                });
            } else if (111 == res.code) {
                window.location.reload();
            } else {
                layer.msg(res.msg, {anim: 6});
            }
        });
    }


    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",});

        // 编辑管理员
        var options = {
            beforeSubmit: showStart,
            success: showSuccess
        };

        $('#commentForm').submit(function () {
            $(this).ajaxSubmit(options);
            return false;
        });
    });

    // 表单验证
    $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        },
        success: function (e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        },
        errorElement: "span",
        errorPlacement: function (e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        },
        errorClass: "help-block m-b-none",
        validClass: "help-block m-b-none"
    });

</script>
</body>
</html>
